<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input
        autocapitalize="on"
        [(ngModel)]="equipment.name"
        name="name"
        maxlength="50"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Número de série</ion-label>
      <ion-input
        [(ngModel)]="equipment.serialNumber"
        name="serialNumber"
        type="serialNumber"
        maxlength="30"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Modelo</ion-label>
      <ion-input
        [(ngModel)]="equipment.model"
        name="model"
        maxlength="30"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fabricante</ion-label>
      <ion-input
        [(ngModel)]="equipment.producer"
        name="producer"
        maxlength="50"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Informações adicionais</ion-label>
      <ion-textarea
        [(ngModel)]="equipment.info"
        name="info"
        type="text"
        maxlength="1000"
      ></ion-textarea>
    </ion-item>

    <app-maintenance-list #maintenanceList [equipment]="equipment"></app-maintenance-list>

    <div class="ion-margin-vertical">
      <ion-button
        [disabled]="!equipment.name"
        type="submit"
        color="secondary"
        expand="block"
        >Salvar</ion-button
      >

      <ion-button
        color="secondary"
        id="trigger-button"
        expand="block"
        [disabled]="!equipment.internalId"
        >Gerar QRCode</ion-button
      >
    </div>
  </form>

  <ion-modal trigger="trigger-button">
    <ng-template>
      <ion-header translucent>
        <ion-toolbar color="primary">
          <ion-title>QRCode do equipamento</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content fullscreen>
        <ion-card>
          <qr-code
            [value]="equipment.internalId"
            size="300"
            errorCorrectionLevel="M"
          ></qr-code>

        <!--   <ion-card-header>
            <ion-card-subtitle>cliente</ion-card-subtitle>
            <ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header> -->
          <ion-card-content>
            <ion-grid>

              <ion-row>
                <ion-col>
                  <div>Equipamento:</div>
                </ion-col>
                <ion-col>
                  <div>{{equipment.name}}</div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <div>Número de série:</div>
                </ion-col>
                <ion-col>
                  <div>{{equipment.serialNumber}}</div>
                </ion-col>
              </ion-row>


              <ion-row>
                <ion-col>
                  <div>Modelo:</div>
                </ion-col>
                <ion-col>
                  <div>{{equipment.model}}</div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <div>Fabricante:</div>
                </ion-col>
                <ion-col>
                  <div>{{equipment.producer}}</div>
                </ion-col>
              </ion-row>

            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
