<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input
        autocapitalize="on"
        [(ngModel)]="equipment.name"
        name="name"
        maxlength="50"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Número de série</ion-label>
      <ion-input
        [(ngModel)]="equipment.serialNumber"
        name="serialNumber"
        type="serialNumber"
        maxlength="30"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Modelo</ion-label>
      <ion-input
        [(ngModel)]="equipment.model"
        name="model"
        maxlength="30"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fabricante</ion-label>
      <ion-input
        [(ngModel)]="equipment.producer"
        name="producer"
        maxlength="50"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Informações adicionais</ion-label>
      <ion-textarea
        [(ngModel)]="equipment.info"
        name="info"
        type="text"
        maxlength="500"
      ></ion-textarea>
    </ion-item>

    <div class="ion-margin-vertical">
      <ion-button type="submit" color="secondary" expand="block"
        >Salvar</ion-button
      >
    </div>
  </form>
</ion-content>
