<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input
        autocapitalize="on"
        [(ngModel)]="client.name"
        name="name"
        maxlength="50"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        [(ngModel)]="client.email"
        name="email"
        type="email"
        maxlength="30"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cpf</ion-label>
      <ion-input [(ngModel)]="client.cpf" name="cpf" maxlength="11"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cnpj</ion-label>
      <ion-input [(ngModel)]="client.cnpj" name="cnpj" maxlength="14"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Inscrição Estadual</ion-label>
      <ion-input [(ngModel)]="client.governmentRegistration" name="governmentRegistration" maxlength="30"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Registro</ion-label>
      <ion-input
        [(ngModel)]="client.registerNumber"
        name="registerNumber"
        maxlength="50"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input
        [(ngModel)]="client.phone"
        name="phone"
        type="tel"
        maxlength="30"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Endereço</ion-label>
      <ion-input
        [(ngModel)]="client.address"
        name="address"
        maxlength="80"
      ></ion-input>
    </ion-item>

    <app-equipments-list #equipmentsList [client]="client"></app-equipments-list>

    <div class="ion-margin-vertical">
      <ion-button [disabled]="!client.name" type="submit" color="secondary" expand="block"
        >Salvar</ion-button
      >
    </div>
  </form>
</ion-content>
